div {
  padding: 2px;
}

input[type=text], input[type=password], button {
  margin-left: 4px;
}

button {
  margin: 4px;
  margin-left: 0;
  background: blue;
  color: white;
  border-radius: 5px;
}

.notification {
  color: green;
  background: lightgrey;
  font: italic;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

.error {
  color: red;
  background: lightgrey;
  font-style: italic;
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

.textbox {
  border: 1px solid green;
  margin-top: 4px;
}